$primary:#ED3127;
@import "bootstrap";
.item-list{
  border-color: $primary;
  border-width: 5px;
  border-style: solid;
}
.individual-item
{
  border-color: $primary;
  border-width: 5px;
  border-style: solid;
}